In [135]:
# Dependencies and Setup
import pandas as pd

In [136]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [137]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
df = purchase_data

In [138]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [139]:
# unique count
total_players = df['SN'].nunique()

# adding data frame
total_players = pd.DataFrame({"Total Players":[total_players]})
total_players

   Total Players
0            576

In [140]:
# adding variables
unique_items = df['Item ID'].nunique()
avg_price = df['Price'].mean()
no_of_purchases = df['Purchase ID'].count()
total_revenue = df['Price'].sum()

# adding dataframe
purchase_analysis = pd.DataFrame({"Number of Unique Items":[unique_items],
                                  "Average Price":[avg_price], 
                                  "Number of Purchases": [no_of_purchases], 
                                  "Total Revenue": [total_revenue]})
# styling decimals
purchase_analysis.style.format({'Average Price':"${:,.2f}",
                                'Total Revenue': '${:,.2f}'})

In [141]:
#grouping gender
gender = df.groupby('Gender')

#finding count of gender
gender_count = gender.nunique()['SN']

#finding percent of gender
percent_players = (gender_count/df['SN'].nunique())*100

#publishing dataframe
gender_demographics = pd.DataFrame({"Total Count": gender_count,
                                    "Percentage of Players": percent_players})

#style format
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}" + "%"})

In [142]:
#grouping gender
gender = df.groupby('Gender')

#count purchase
count_purchase = gender.count()['Purchase ID']

#avg. purchase price
avg_purchase_price = gender.mean()['Price']

#total purchase price
total_purchase_price = gender.sum()['Price']

#Average Purchase Total per Person by Gender
avg_total_purchase_price = total_purchase_price / gender_count

# data frame
gender_demographics = pd.DataFrame({"Purchase Count": count_purchase, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":total_purchase_price,
                                    "Avg Purchase Total per Person": avg_total_purchase_price})

# style format
gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [143]:
# adding bin for ages
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 150]

#adding age range
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#cutting by bins
df['Age Group'] = pd.cut(df['Age'], bins, labels=age_group)
df

# group by age group
age_grouping = df.groupby("Age Group")

# Count of age group
total_count_age = age_grouping["SN"].nunique()

# percent by age group 
percent_by_age = total_count_age / df['SN'].nunique() * 100

# data frame
age_demographics = pd.DataFrame({"Total Count": total_count_age,
                                "Percentage of Players": percent_by_age})

# style format
age_demographics.style.format({"Percentage of Players":"{:,.2f}" + "%"})

In [144]:
# Count purchases
purchase_count_age = age_grouping["Purchase ID"].count()

# average purchase price by age group 
avg_purchase_price_age = age_grouping["Price"].mean()

# total purchase value by age group 
total_purchase_value = age_grouping["Price"].sum()

# average purchase per person by age group 
avg_purchase_per_person_age = total_purchase_value / total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [145]:
# SN data
spend_data = df.groupby("SN")

# total purchases 
purchase_count_spender = spend_data["Purchase ID"].count()

# average purchase 
avg_purchase_price_spender = spend_data["Price"].mean()

# purchase total 
purchase_total_spender = spend_data ["Price"].sum()

# data frame
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# sort
spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# style format
spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [146]:
#items detail 
items = df[["Item ID", "Item Name", "Price"]]

#grouping
item_stats = items.groupby(["Item ID","Item Name"])

#Counting 
purchase_count_item = item_stats["Price"].count()

#purchase value 
purchase_value = (item_stats["Price"].sum()) 

#item price by person
item_price = purchase_value/purchase_count_item

#dataframe
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# sort
popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# style format
popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [147]:
# highest total purchase
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# style format
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})